@media only screen and (max-width: 600px) {
    body{
        font-size: 12px;
    }
}
@media only screen and (min-width: 601px) and (max-width:1024) {
    body{
        font-size: 14px;
    }
}   
@media only screen and (min-width: 1025px) {
    body{
        font-size: 16px;
    }
}
nav a:hover {
    text-decoration: none;
    color: blue;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
nav ul{
    list-style: none;
    padding: 10px;
    text-align: right;
}
nav ul li{
    padding: 10px 2px;
    display: inline;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.headnav{
    overflow: hidden;
    background-color: aquamarine;
}
.background{
    height: 95vh;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(image/background.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}
.saipan{
    text-align: center;
    color: white;
    font-size: 50px;
}
.video{
    float: right;
    width: 44%;
    height: auto;
}
.footnav{
    text-align: center;
    background-color: aquamarine;
    position: sticky;
    overflow: hidden;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.description{
    text-align: center;
    margin: 40px;
}
.footnav a:hover{
    text-decoration: none;
    color: blue;
}
.footnav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.grid-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    justify-content: center;
    text-align: center;
}
.box-layout{
    border-radius: 3rem;
    overflow: hidden;
}
.box-layout img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    display: flex;
}
.head{
    text-align: center;
    padding: 4rem;
}
.grid-container a:hover{
    text-decoration: none;
    color: blue;
}
.grid-container a{
    text-decoration: none;
    color: black;
}
.form h1{
    gap: 4rem;
    text-align: center;
    font-size: 40px;
}
.contact{
    display: flex;
    padding: 2rem;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submit{
    margin-top: 1rem;
    text-align: center;
    padding: 5rem;
}
.message textarea{
    box-sizing: border-box;
    height: 10rem;
    resize: none;
}
.contact input,.message textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 18px;
}
.about-background{
    height: 95vh;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(image/saipan.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutUs{
    text-align: center;
    color: white;
    font-size: 35px;
}
table.week{
    border-collapse: collapse;
}
table.week td, th{
    padding: 10px;
    border: 1px solid black;
}
table.week thead{
    background-color: lightblue;
}
.event-head{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 4rem;
}
.festival a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.festival a:hover{
    text-decoration: none;
    color: lightblue;
}
.container{
    display: grid;
}
.week tr td:hover{
    background-color: aliceblue;
}
.week tr td{
    text-align: center;
    background-color: white;
}
.span th{
    border: none;
}
.flame{
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(image/flame.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem;
    font-size: larger;
}
.grotto-img{
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url(image/grotto-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.grotto-head{
    text-align: center;
    color: white;
    font-size: 50px;
}
.grotto-layout img{
    width: 30%;
    height: auto;
    float: right;
    margin-right: 10rem;
}
.grotto-description h1, p{
    text-align: center;
}
.grotto-description h1{
    color: blue;
}
.animation{
    height: 3vh;
    width: 100%;
    display: flex;
    animation: colorChange 6s linear infinite;
}

@keyframes colorChange{
    0%,100%{
        background-color: red;
    }
    33%{
        background-color: green;
    }
    66%{
        background-color: blue;
    }
}